.search-bar-container {
  border-radius: 50px;
  overflow: hidden;
}

input.form-control::placeholder {
  color: #e0e0ff;
}

input.form-control:focus {
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
  border-color: transparent;
}

button.btn:hover {
  background-color: #007bff;
  transition: background-color 0.3s ease;
}
